@import '../../../styles/constants.scss';

.second-section {
  background-color: $dark-blue;
  .second-section-title {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    span {
      color: $dark-orange;
    }
  }
}
