@import '../../styles/constants.scss';

.input-with-label {
  input {
    height: 40px;
    width: 100%;
    border: 1px solid #dae2eb;
    border-radius: 3px;
    background-color: #ffff;
    padding: 12px;
    font-size: 1em;
    outline: none;
  }

  .input-label {
    color: #ffff;
    margin-bottom: 7px;
  }

  .error-text {
    color: $red;
    margin: 2px;
    font-size: 0.9em;
    font-weight: bold;
    height: 0.9em;
  }

  .form-error {
    color: $red;
    border: 2px solid $red;
  }

  @media only screen and (min-width: 760px) {
    input {
      height: 45px;
      width: 50%;
      font-size: 1.2em;
    }
    .input-label {
      font-size: 1.4em;
    }
  }
}
