.step-two {
  width: 100%;
  height: fit-content;
  .go-back {
    color: #ffff;
    outline: none;
    font-size: 1.1em;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .legend {
    width: 100%;
    color: #fff;
  }
  .input {
    width: 100%;
  }
  .astronaut {
    width: 80%;
  }
  @media only screen and (min-width: 760px) {
    margin-top: 3em;
    .legend {
      font-size: 1.6em;
      span {
        font-size: 0.9em;
      }
    }
    .astronaut {
      width: auto;
      margin-top: -9em;
    }

    .form-title {
      height: 8em;
    }
  }
}
