@import '~bootstrap-scss/functions';
@import '~bootstrap-scss/variables';
@import '~bootstrap-scss/vendor/rfs';
@import '~bootstrap-scss/mixins';

// COLORS
$dark-orange: #f34c26;
$dark-blue: #072348;
$light-blue: #00609c;
$red: #e13e2b;
