.card {
  width: 25%;
  padding: 10px 50px;
  border-radius: 10px;
  .dashed-line {
    stroke-width: 7;
  }
  .title {
    p {
      width: 100%;
      text-align: center;
      font-size: 2.3em;
      font-weight: 900;
      line-height: 1em;
      margin-top: 0.4em;
    }
  }
  img {
    display: block;
  }
}
