.card {
  padding: 50px 30px;
  margin: 10px;
  border-radius: 10px;
  .card-image {
    margin-top: -40px;
  }
  .dashed-line {
    stroke-width: 7;
  }
  .title {
    height: 20%;
    margin-top: 1em;
    p {
      width: 100%;
      text-align: center;
      font-size: 2.3em;
      font-weight: 900;
      line-height: 1.1em;
      margin-top: 0.4em;
    }
  }
  .card-content {
    p {
      font-size: 1.6em;
      margin: 0;
    }
    svg {
      margin: 8px 10px;
    }
  }
  @media only screen and (min-width: 800px) {
    padding: 50px 50px;
    margin: 0;
  }
}
