@import '../../styles/constants.scss';

.landing-page {
  .section-1 {
    text-align: center;
    background: url('../../assets/space-background@2x.png') no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 3em;
    background-color: #041731;

    .logo {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .join-atomic {
      width: 100%;

      p {
        font-size: 4.37em;
        font-weight: bold;
        color: #fff;
        span {
          color: $dark-orange;
        }
      }

      img {
        max-width: 85%;
        height: auto;
      }

      button {
        width: 12em;
        padding: 0.5em 0.5em;
        background: #fff;
        color: $light-blue;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 20px;
        border: none;
      }
      button:hover {
        cursor: pointer;
      }
    }

    .know-more {
      p {
        margin-top: -8px;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
