@import '../../../styles/constants.scss';

/* Mobile first */

.first-section {
  text-align: center;
  background: url('../../../assets/icons/space-background@2x.png') no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #041731;

  .logo {
    margin: 0;
    padding: 0;
    width: 100%;
    img {
      max-height: 50px;
    }
  }

  .join-atomic {
    width: 100%;

    .main-text {
      font-size: 2.2em;
      font-weight: 800;
      line-height: 1.1em;
      color: #fff;
      span {
        color: $dark-orange;
      }
    }

    img {
      max-width: 85%;
      height: auto;
    }
  }

  .know-more {
    display: none;
  }

  /* Desktop screen Sizes */

  @media only screen and (min-width: 800px) {
    height: 100vh;
    padding: 3em;
    .logo {
      img {
        max-height: 100px;
      }
    }
    .join-atomic {
      .main-text {
        font-size: 4.37em;
      }
    }
    .know-more {
      display: inline-block;
      p {
        margin-top: -5px;
        color: #fff;
        font-weight: bold;
        font-size: 1.21em;
      }
    }
  }
}
